<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <nav class="smallnav" id="smallnav">
        <div class="main" id="main">
          <div class="mainopen" id="mainopen">
            <div class="violet open" id="violet"></div>
            <div class="purple open" id="purple"></div>
            <div class="blue open" id="blue"></div>
          </div>
          <div class="childnav" id="childnav">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="orgevents.html">Add Events</a></li>
                <li><a href="myevent.html">My Events</a></li>
                <li><a href="login.html">SignUp/Login</a></li>
              </ul>
        </div>
      </nav>
    <nav class="bignav">
        <h1>EngageNow</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="orgevents.html">Add Events</a></li>
            <li><a href="myevent.html">My Events</a></li>
            <li><a href="login.html">SignUp/Login</a></li>
        </ul>
    </nav>
    <section class="dashboardpar">
        <div class="dashboard">
        <div class="dashboard-details">
            <img src="https://picsum.photos/200/200" alt="profile_pic" class="profile-pic">
            <div class="details">
                <h3>Name: Vavilla Rupesh</h3>
                <h3>Email: rupeshvavillla200325@gmail.com</h3>
                <h3>Phone: 1234567890</h3>
                <h3>Location: 123, ABC Street, XYZ City</h3>
                <h3>Service: Market</h3>
            </div>
        </div>
        </div>
    </section>
    <script src="/scripts/nav.js"></script>
</body>
</html>