<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/styles/style.css" />
  </head>

  <body>
    <nav class="smallnav" id="smallnav">
      <div class="main" id="main">
        <div class="mainopen" id="mainopen">
          <div class="violet open" id="violet"></div>
          <div class="purple open" id="purple"></div>
          <div class="blue open" id="blue"></div>
        </div>
        <div class="childnav" id="childnav">
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="about.html">About</a></li>
              <li><a href="events.html">Events</a></li>
              <li><a href="services.html">Services</a></li>
              <li><a href="contact.html">Contact</a></li>
              <li><a href="login.html">SignUp/Login</a></li>
            </ul>
      </div>
    </nav>
    <nav class="bignav">
      <h1>EngageNow</h1>
      <ul>
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="events.html">Events</a></li>
        <li><a href="services.html">Services</a></li>
        <li><a href="contact.html">Contact</a></li>
        <li><a href="login.html">SignUp/Login</a></li>
      </ul>
    </nav>
    <main>
      <h1>Welcome to EngageNow</h1>
      <h3>Connect Now. Thrive Together.</h3>
    </main>
    <h2>Services Offered</h2>
    <section class="services">
      <div class="service">
          <div class="service-details">
              <img src="https://picsum.photos/200/200" alt="Service 1">
              <h3>Company 1</h3>
              <h3>Service: Service 1</h3>
              <h3>Loction: Loaction 1</h3>
          </div>
      </div>
      <div class="service">
          <div class="service-details">
              <img src="https://picsum.photos/200/200" alt="Service 2">
              <h3>Company 2</h3>
              <h3>Service: Service 2</h3>
              <h3>Loction:  Location 2</h3>
          </div>
      </div>
      <div class="service">
          <div class="service-details">
              <img src="https://picsum.photos/200/200" alt="Service 3">
              <h3>Company 3</h3>
              <h3>Service: Service 3</h3>
              <h3>Loction: Loaction 3</h3>
          </div>
      </div>
      <div class="service">
          <div class="service-details">
              <img src="https://picsum.photos/200/200" alt="Service 1">
              <h3>Company 4</h3>
              <h3>Service: Service 4</h3>
              <h3>Loction: Location 4</h3>
          </div>
      </div>
      <div class="service">
          <div class="service-details">
              <img src="https://picsum.photos/200/200" alt="Service 1">
              <h3>Company 5</h3>
              <h3>Service: Service 5</h3>
              <h3>Loction: Location 5</h3>
          </div>
      </div>
      <div class="service">
          <div class="service-details">
              <img src="https://picsum.photos/200/200" alt="Service 1">
              <h3>Company 6</h3>
              <h3>Service: Service 6</h3>
              <h3>Loction: Location 6</h3>
          </div>
      </div>
    </section>
    <h2>Upcoming Events</h2>
    <div class="regevents"><a href="./regevents.html"><button>Go to Registered Events</button></a></div>
    <section class="events" id="events">
      <a href="./selectevent.html" class="event" data-date="2024-06-29">
          <div class="event-details">
              <img src="https://picsum.photos/200/200" alt="Event 1">
              <h3>Event 1</h3>
              <h3>Date: 29/06/2024</h3>
              <h3>Time: 10:00 AM</h3>
              <h3>Location: XYZ</h3>
          </div>
      </a>
      <a href="./selectevent.html" class="event" data-date="2024-06-29">
          <div class="event-details">
              <img src="https://picsum.photos/200/200" alt="Event 1">
              <h3>Event 1</h3>
              <h3>Date: 29/06/2024</h3>
              <h3>Time: 10:00 AM</h3>
              <h3>Location: XYZ</h3>
          </div>
      </a>
      <a href="./selectevent.html" class="event" data-date="2024-06-30">
          <div class="event-details">
              <img src="https://picsum.photos/200/200" alt="Event 2">
              <h3>Event 2</h3>
              <h3>Date: 30/06/2024</h3>
              <h3>Time: 11:00 AM</h3>
              <h3>Location: ABC</h3>
          </div>
      </a>
      <a href="./selectevent.html" class="event" data-date="2024-06-30">
          <div class="event-details">
              <img src="https://picsum.photos/200/200" alt="Event 2">
              <h3>Event 2</h3>
              <h3>Date: 30/06/2024</h3>
              <h3>Time: 11:00 AM</h3>
              <h3>Location: ABC</h3>
          </div>
      </a>
      <a href="./selectevent.html" class="event" data-date="2024-07-01">
          <div class="event-details">
              <img src="https://picsum.photos/200/200" alt="Event 3">
              <h3>Event 3</h3>
              <h3>Date: 01/07/2024</h3>
              <h3>Time: 12:00 PM</h3>
              <h3>Location: PQR</h3>
          </div>
      </a>
      <a href="./selectevent.html" class="event" data-date="2024-07-01">
          <div class="event-details">
              <img src="https://picsum.photos/200/200" alt="Event 3">
              <h3>Event 3</h3>
              <h3>Date: 01/07/2024</h3>
              <h3>Time: 12:00 PM</h3>
              <h3>Location: PQR</h3>
          </div>
        </a>
  </section>
    <script src="/scripts/nav.js"></script>
  </body>
</html>
