<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <nav class="smallnav" id="smallnav">
        <div class="main" id="main">
          <div class="mainopen" id="mainopen">
            <div class="violet open" id="violet"></div>
            <div class="purple open" id="purple"></div>
            <div class="blue open" id="blue"></div>
          </div>
          <div class="childnav" id="childnav">
              <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="events.html">Events</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
                <li><a href="login.html">SignUp/Login</a></li>
              </ul>
        </div>
      </nav>
    <nav class="bignav">
        <h1>EngageNow</h1>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="events.html">Events</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="contact.html">Contact</a></li>
            <li><a href="login.html">SignUp/Login</a></li>
        </ul>
    </nav>
    <section class="services">
        <div class="service">
            <div class="service-details">
                <img src="https://picsum.photos/200/200" alt="Service 1">
                <h3>Company 1</h3>
                <h3>Service: Service 1</h3>
                <h3>Loction: Loaction 1</h3>
            </div>
        </div>
        <div class="service">
            <div class="service-details">
                <img src="https://picsum.photos/200/200" alt="Service 2">
                <h3>Company 2</h3>
                <h3>Service: Service 2</h3>
                <h3>Loction:  Location 2</h3>
            </div>
        </div>
        <div class="service">
            <div class="service-details">
                <img src="https://picsum.photos/200/200" alt="Service 3">
                <h3>Company 3</h3>
                <h3>Service: Service 3</h3>
                <h3>Loction: Loaction 3</h3>
            </div>
        </div>
        <div class="service">
            <div class="service-details">
                <img src="https://picsum.photos/200/200" alt="Service 1">
                <h3>Company 4</h3>
                <h3>Service: Service 4</h3>
                <h3>Loction: Location 4</h3>
            </div>
        </div>
        <div class="service">
            <div class="service-details">
                <img src="https://picsum.photos/200/200" alt="Service 1">
                <h3>Company 5</h3>
                <h3>Service: Service 5</h3>
                <h3>Loction: Location 5</h3>
            </div>
        </div>
        <div class="service">
            <div class="service-details">
                <img src="https://picsum.photos/200/200" alt="Service 1">
                <h3>Company 6</h3>
                <h3>Service: Service 6</h3>
                <h3>Loction: Location 6</h3>
            </div>
        </div>
    </section>
    <script src="/scripts/nav.js"></script>
</body>
</html>